#f1 {background-color: rgb(54, 54, 180);}
#l1 {background-color: rgb(54, 54, 180);}
#f2 {background-color: rgb(124, 36, 124);}
#l2 {background-color: rgb(124, 36, 124);}
#f3 {background-color: rosybrown;}
#l3 {background-color: rosybrown;}